In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib

In [3]:
df=pd.read_csv("D:\datasets\Bengaluru_House_Data.csv")
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [5]:
df.isnull()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...
13315,False,False,False,False,False,False,False,False,False
13316,False,False,False,False,True,False,False,True,False
13317,False,False,False,False,False,False,False,False,False
13318,False,False,False,False,False,False,False,False,False
13319,False,False,False,False,True,False,False,False,False

In [6]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [7]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [8]:
df1=df.drop(columns=['availability','society','balcony'])

In [9]:
df1.head()

,area_type,location,size,total_sqft,bath,price
0,Super built-up Area,Electronic City Phase II,2 BHK,1056,2.0,39.07
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600,5.0,120.00
2,Built-up Area,Uttarahalli,3 BHK,1440,2.0,62.00
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521,3.0,95.00
4,Super built-up Area,Kothanur,2 BHK,1200,2.0,51.00

In [10]:
df.columns

Index(['area_type', 'availability', 'location', 'size', 'society',
       'total_sqft', 'bath', 'balcony', 'price'],
      dtype='object')

In [11]:
df1.head()

,area_type,location,size,total_sqft,bath,price
0,Super built-up Area,Electronic City Phase II,2 BHK,1056,2.0,39.07
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600,5.0,120.00
2,Built-up Area,Uttarahalli,3 BHK,1440,2.0,62.00
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521,3.0,95.00
4,Super built-up Area,Kothanur,2 BHK,1200,2.0,51.00

In [12]:
df1=df

In [13]:
df1.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [14]:
df1.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [15]:
df2=df1.dropna()
df2.isnull().sum()

area_type       0
availability    0
location        0
size            0
society         0
total_sqft      0
bath            0
balcony         0
price           0
dtype: int64

In [16]:
df2.shape

(7496, 9)

In [17]:
df1.shape

(13320, 9)

In [18]:
df2.tail()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
13313,Super built-up Area,Ready To Move,Uttarahalli,3 BHK,Aklia R,1345,2.0,1.0,57.0
13314,Super built-up Area,Ready To Move,Green Glen Layout,3 BHK,SoosePr,1715,3.0,3.0,112.0
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.0
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.0
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.0

In [19]:
df2['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '3 Bedroom', '1 RK', '4 BHK',
       '1 BHK', '5 BHK', '11 BHK', '5 Bedroom', '9 BHK', '2 Bedroom',
       '6 BHK', '7 BHK', '6 Bedroom'], dtype=object)

In [20]:
df2['bhk']=df2['size'].apply(lambda x:int(x.split()[0]))

C:\Users\Asus\AppData\Local\Temp\ipykernel_3692\3648384022.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['bhk']=df2['size'].apply(lambda x:int(x.split()[0]))

In [21]:
df2.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,bhk
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07,2
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,4
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00,3
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.00,2
11,Plot Area,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785,5.0,3.0,295.00,4

In [22]:
df2['bhk'].unique()

array([ 2,  4,  3,  1,  5, 11,  9,  6,  7])

In [23]:
df.head(50)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.00
6,Super built-up Area,18-May,Old Airport Road,4 BHK,Jaades,2732,4.0,NaN,204.00
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300,4.0,NaN,600.00
8,Super built-up Area,Ready To Move,Marathahalli,3 BHK,NaN,1310,3.0,1.0,63.25
9,Plot Area,Ready To Move,Gandhi Bazar,6 Bedroom,NaN,1020,6.0,NaN,370.00
10,Super built-up Area,18-Feb,Whitefield,3 BHK,NaN,1800,2.0,2.0,70.00
11,Plot Area,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785,5.0,3.0,295.00
12,Super built-up Area,Ready To Move,7th Phase JP Nagar,2 BHK,Shncyes,1000,2.0,1.0,38.00
13,Built-up Area,Ready To Move,Gottigere,2 BHK,NaN,1100,2.0,2.0,40.00
14,Plot Area,Ready To Move,Sarjapur,3 Bedroom,Skityer,2250,3.0,2.0,148.00
15,Super built-up Area,Ready To Move,Mysore Road,2 BHK,PrntaEn,1175,2.0,2.0,73.50
16,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1180,3.0,2.0,48.00
17,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,3 BHK,GrrvaGr,1540,3.0,3.0,60.00
18,Super built-up Area,Ready To Move,Ramakrishnappa Layout,3 BHK,PeBayle,2770,4.0,2.0,290.00
19,Super built-up Area,Ready To Move,Manayata Tech Park,2 BHK,NaN,1100,2.0,2.0,48.00
20,Built-up Area,Ready To Move,Kengeri,1 BHK,NaN,600,1.0,1.0,15.00
21,Super built-up Area,19-Dec,Binny Pete,3 BHK,She 2rk,1755,3.0,1.0,122.00
22,Plot Area,Ready To Move,Thanisandra,4 Bedroom,Soitya,2800,5.0,2.0,380.00
23,Super built-up Area,Ready To Move,Bellandur,3 BHK,NaN,1767,3.0,1.0,103.00
24,Super built-up Area,18-Nov,Thanisandra,1 RK,Bhe 2ko,510,1.0,0.0,25.25
25,Super built-up Area,18-May,Mangammanapalya,3 BHK,NaN,1250,3.0,2.0,56.00
26,Super built-up Area,Ready To Move,Electronic City,2 BHK,Itelaa,660,1.0,1.0,23.10
27,Built-up Area,20-Dec,Whitefield,3 BHK,NaN,1610,3.0,2.0,81.00
28,Super built-up Area,17-Oct,Ramagondanahalli,2 BHK,ViistLa,1151,2.0,2.0,48.77
29,Super built-up Area,Ready To Move,Electronic City,3 BHK,KBityo,1025,2.0,1.0,47.00
30,Super built-up Area,19-Dec,Yelahanka,4 BHK,LedorSa,2100 - 2850,4.0,0.0,186.00
31,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1075,2.0,1.0,35.00
32,Super built-up Area,Ready To Move,Hebbal,3 BHK,Mahosya,1760,2.0,2.0,123.00
33,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,3 BHK,GrrvaGr,1693,3.0,3.0,57.39
34,Built-up Area,Ready To Move,Kasturi Nagar,3 BHK,Kantsce,1925,3.0,NaN,125.00
35,Super built-up Area,21-Dec,Kanakpura Road,2 BHK,PrarePa,700,2.0,1.0,36.00
36,Super built-up Area,Ready To Move,Electronics City Phase 1,2 BHK,NaN,1070,2.0,1.0,45.50
37,Super built-up Area,Ready To Move,Kundalahalli,3 BHK,Dieldli,1724,3.0,2.0,125.00
38,Super built-up Area,Ready To Move,Chikkalasandra,3 BHK,NaN,1290,2.0,2.0,56.12
39,Built-up Area,Ready To Move,Uttarahalli,2 BHK,NaN,1143,2.0,2.0,45.00
40,Built-up Area,Ready To Move,Murugeshpalya,2 BHK,Gentson,1296,2.0,NaN,81.00
41,Super built-up Area,19-Dec,Sarjapur Road,3 BHK,Soini T,1254,3.0,2.0,38.00
42,Super built-up Area,Ready To Move,Ganga Nagar,1 BHK,Ceove G,600,1.0,0.0,38.00
43,Plot Area,Ready To Move,Yelahanka,1 Bedroom,NaN,660,1.0,0.0,48.00
44,Super built-up Area,19-Sep,Kanakpura Road,2 BHK,Soazak,1330.74,2.0,2.0,91.79
45,Plot Area,Ready To Move,HSR Layout,8 Bedroom,NaN,600,9.0,NaN,200.00
46,Super built-up Area,Ready To Move,Doddathoguru,2 BHK,LancyRe,970,2.0,0.0,33.00
47,Super built-up Area,20-Sep,Whitefield,2 BHK,Goted U,1459,2.0,1.0,94.82
48,Plot Area,Ready To Move,KR Puram,2 Bedroom,NaN,800,1.0,1.0,130.00
49,Built-up Area,Ready To Move,Himagiri Meadows,2 BHK,NaN,869,2.0,1.0,36.00

In [24]:
df2.head(50)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,bhk
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07,2
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,4
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00,3
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.00,2
11,Plot Area,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785,5.0,3.0,295.00,4
12,Super built-up Area,Ready To Move,7th Phase JP Nagar,2 BHK,Shncyes,1000,2.0,1.0,38.00,2
14,Plot Area,Ready To Move,Sarjapur,3 Bedroom,Skityer,2250,3.0,2.0,148.00,3
15,Super built-up Area,Ready To Move,Mysore Road,2 BHK,PrntaEn,1175,2.0,2.0,73.50,2
16,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1180,3.0,2.0,48.00,3
17,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,3 BHK,GrrvaGr,1540,3.0,3.0,60.00,3
18,Super built-up Area,Ready To Move,Ramakrishnappa Layout,3 BHK,PeBayle,2770,4.0,2.0,290.00,3
21,Super built-up Area,19-Dec,Binny Pete,3 BHK,She 2rk,1755,3.0,1.0,122.00,3
22,Plot Area,Ready To Move,Thanisandra,4 Bedroom,Soitya,2800,5.0,2.0,380.00,4
24,Super built-up Area,18-Nov,Thanisandra,1 RK,Bhe 2ko,510,1.0,0.0,25.25,1
26,Super built-up Area,Ready To Move,Electronic City,2 BHK,Itelaa,660,1.0,1.0,23.10,2
28,Super built-up Area,17-Oct,Ramagondanahalli,2 BHK,ViistLa,1151,2.0,2.0,48.77,2
29,Super built-up Area,Ready To Move,Electronic City,3 BHK,KBityo,1025,2.0,1.0,47.00,3
30,Super built-up Area,19-Dec,Yelahanka,4 BHK,LedorSa,2100 - 2850,4.0,0.0,186.00,4
31,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1075,2.0,1.0,35.00,3
32,Super built-up Area,Ready To Move,Hebbal,3 BHK,Mahosya,1760,2.0,2.0,123.00,3
33,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,3 BHK,GrrvaGr,1693,3.0,3.0,57.39,3
35,Super built-up Area,21-Dec,Kanakpura Road,2 BHK,PrarePa,700,2.0,1.0,36.00,2
37,Super built-up Area,Ready To Move,Kundalahalli,3 BHK,Dieldli,1724,3.0,2.0,125.00,3
41,Super built-up Area,19-Dec,Sarjapur Road,3 BHK,Soini T,1254,3.0,2.0,38.00,3
42,Super built-up Area,Ready To Move,Ganga Nagar,1 BHK,Ceove G,600,1.0,0.0,38.00,1
44,Super built-up Area,19-Sep,Kanakpura Road,2 BHK,Soazak,1330.74,2.0,2.0,91.79,2
46,Super built-up Area,Ready To Move,Doddathoguru,2 BHK,LancyRe,970,2.0,0.0,33.00,2
47,Super built-up Area,20-Sep,Whitefield,2 BHK,Goted U,1459,2.0,1.0,94.82,2
50,Super built-up Area,Ready To Move,Adarsh Nagar,2 BHK,Bhncyis,1270,2.0,1.0,50.00,2
51,Super built-up Area,18-Mar,Bhoganhalli,3 BHK,Rosha I,1670,3.0,1.0,99.00,3
52,Built-up Area,Ready To Move,Whitefield,3 BHK,Suent V,2010,3.0,2.0,91.00,3
53,Super built-up Area,Ready To Move,Lakshminarayana Pura,2 BHK,RothaVa,1185,2.0,2.0,75.00,2
54,Super built-up Area,Ready To Move,Yelahanka,3 BHK,NCowsar,1600,2.0,3.0,75.00,3
55,Super built-up Area,Ready To Move,Begur Road,2 BHK,Dhalsh,1200,2.0,2.0,44.00,2
57,Super built-up Area,Ready To Move,Ramakrishnappa Layout,2 BHK,PeBayle,1500,2.0,2.0,185.00,2
61,Super built-up Area,Ready To Move,Ganga Nagar,2 BHK,Laavevi,845,2.0,1.0,55.00,2
62,Plot Area,Ready To Move,Whitefield,4 Bedroom,Chranya,5700,5.0,3.0,650.00,4
63,Built-up Area,Ready To Move,Varthur,2 BHK,HioraTr,1160,2.0,2.0,44.00,2
66,Super built-up Area,18-Apr,Gunjur,2 BHK,BMineis,1140,2.0,3.0,43.00,2
71,Super built-up Area,20-Aug,Begur Road,2 BHK,Pruthg,1358,2.0,1.0,80.58,2
72,Super built-up Area,Ready To Move,Hegde Nagar,3 BHK,Sonosty,1569,3.0,1.0,101.00,3
73,Super built-up Area,18-Apr,Haralur Road,2 BHK,SNnia E,1240,2.0,1.0,70.00,2
74,Super built-up Area,Ready To Move,Hennur Road,3 BHK,Anavi B,2089,3.0,2.0,140.00,3
77,Built-up Area,Ready To Move,Cholanayakanahalli,3 BHK,Viony H,2511,3.0,3.0,205.00,3
80,Super built-up Area,Ready To Move,Kodanda Reddy Layout,3 BHK,AdentEl,1660,2.0,2.0,105.00,3
82,Super built-up Area,19-Mar,Yelahanka,2 BHK,Niareum,1326,2.0,2.0,78.00,2
84,Super built-up Area,Ready To Move,EPIP Zone,3 BHK,SJlynro,1499,5.0,2.0,102.00,3
87,Super built-up Area,17-Sep,Dasanapura,2 BHK,Tavenew,708,2.0,2.0,37.00,2
88,Super built-up Area,Ready To Move,Kasavanhalli,2 BHK,Srire S,1060,2.0,2.0,58.06,2
90,Built-up Area,Ready To Move,Sanjay nagar,2 BHK,Saenti,1000,2.0,2.0,70.00,2

In [25]:
df2['bhk'].unique()

array([ 2,  4,  3,  1,  5, 11,  9,  6,  7])

In [26]:
df2[df2.bhk>5].sum()

area_type       Super built-up  AreaSuper built-up  AreaSuper ...
availability    Ready To MoveReady To MoveReady To MoveReady T...
location        1 Giri NagarMico LayoutUttarahalliSathya Sai L...
size            11 BHK9 BHK6 BHK6 BHK7 BHK6 Bedroom6 BHK6 Bedr...
society         BancyriAmsomunPoetyHoProwshiBancyriUpoutksGiav...
total_sqft                  5000500036001133845001850120012004000
bath                                                         61.0
balcony                                                      21.0
price                                                      2942.0
bhk                                                            63
dtype: object

In [27]:
df2.bhk.dtype

dtype('int64')

In [28]:
df2['total_sqft'].unique()

array(['1056', '2600', '1521', ..., '1919', '2111', '4689'], dtype=object)

In [29]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [30]:
df2[~df2['total_sqft'].apply(is_float)]

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,bhk
30,Super built-up Area,19-Dec,Yelahanka,4 BHK,LedorSa,2100 - 2850,4.0,0.0,186.000,4
122,Super built-up Area,18-Mar,Hebbal,4 BHK,SNontle,3067 - 8156,4.0,0.0,477.000,4
137,Super built-up Area,19-Mar,8th Phase JP Nagar,2 BHK,Vaarech,1042 - 1105,2.0,0.0,54.005,2
165,Super built-up Area,18-Dec,Sarjapur,2 BHK,Kinuerg,1145 - 1340,2.0,0.0,43.490,2
188,Super built-up Area,Ready To Move,KR Puram,2 BHK,MCvarar,1015 - 1540,2.0,0.0,56.800,2
...,...,...,...,...,...,...,...,...,...,...
12975,Super built-up Area,20-Aug,Whitefield,2 BHK,Bhath N,850 - 1060,2.0,0.0,38.190,2
12990,Super built-up Area,18-May,Talaghattapura,3 BHK,Sodgere,1804 - 2273,3.0,0.0,122.000,3
13059,Super built-up Area,Ready To Move,Harlur,2 BHK,Shodsir,1200 - 1470,2.0,0.0,72.760,2
13265,Super built-up Area,20-Sep,Hoodi,2 BHK,Ranuetz,1133 - 1384,2.0,0.0,59.135,2
13299,Super built-up Area,18-Dec,Whitefield,4 BHK,Prtates,2830 - 2882,5.0,0.0,154.500,4

In [31]:
def range_to_sqft(x):
    token=x.split('-')
    if(len(token)==2):
        return (float(token[0])+float(token[1]))/2
    try: 
        return float(x)
    except:
        return None

In [32]:
range_to_sqft('2005')

2005.0

In [33]:
df3=df2.copy()

In [34]:
df3['total_sqft']=df3['total_sqft'].apply(range_to_sqft)

In [35]:
df3.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,bhk
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056.0,2.0,1.0,39.07,2
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600.0,5.0,3.0,120.00,4
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521.0,3.0,1.0,95.00,3
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170.0,2.0,1.0,38.00,2
11,Plot Area,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785.0,5.0,3.0,295.00,4

In [36]:
df3.at[30,'total_sqft']

np.float64(2475.0)

In [37]:
df3.loc[30]

area_type       Super built-up  Area
availability                  19-Dec
location                   Yelahanka
size                           4 BHK
society                      LedorSa
total_sqft                    2475.0
bath                             4.0
balcony                          0.0
price                          186.0
bhk                                4
Name: 30, dtype: object

In [38]:
df3.location.unique()

array(['Electronic City Phase II', 'Chikka Tirupathi',
       'Lingadheeranahalli', 'Whitefield', '7th Phase JP Nagar',
       'Sarjapur', 'Mysore Road', 'Bisuvanahalli',
       'Raja Rajeshwari Nagar', 'Ramakrishnappa Layout', 'Binny Pete',
       'Thanisandra', ' Thanisandra', 'Electronic City',
       'Ramagondanahalli', 'Yelahanka', 'Hebbal', 'Kanakpura Road',
       'Kundalahalli', 'Sarjapur  Road', 'Ganga Nagar', 'Doddathoguru',
       'Adarsh Nagar', 'Bhoganhalli', 'Lakshminarayana Pura',
       'Begur Road', 'Varthur', 'Gunjur', 'Hegde Nagar', 'Haralur Road',
       'Hennur Road', 'Cholanayakanahalli', 'Kodanda Reddy Layout',
       'EPIP Zone', 'Dasanapura', 'Kasavanhalli', 'Sanjay nagar',
       'Kengeri', 'Yeshwanthpur', 'Chandapura', 'Kothanur',
       'Green View Layout', 'Shantiniketan Layout', 'Rajaji Nagar',
       'Devanahalli', 'Byatarayanapura', 'Akshaya Nagar',
       'LB Shastri Nagar', 'Hormavu', 'Peenya', 'Kudlu Gate',
       '8th Phase JP Nagar', 'Chandra Layout', 'Anandapura',
       'Kengeri Satellite Town', 'Basavanapura', 'Kannamangala',
       'Hulimavu', 'Hosa Road', 'Keshava Nagar', 'RMV Extension',
       'Tejaswini Nagar', 'Jai Bheema Nagar', 'Attibele',
       'CV Raman Nagar', 'Malleshwaram', 'Hebbal Kempapura',
       'Vijayanagar', 'KR Puram', 'Marathahalli', 'Pattandur Agrahara',
       'HSR Layout', 'Kadugodi', 'Kogilu', 'Panathur', 'Kammasandra',
       'Electronics City Phase 1', 'Tala Cauvery Layout', 'Dasarahalli',
       'Koramangala', 'Muthurayya Swamy Layout', 'Budigere',
       'Dodda Nekkundi Extension', 'Mylasandra', 'Kalyan nagar',
       'Ashwath Nagar', 'Ncpr Industrial Layout', 'Meenakunte',
       'OMBR Layout', 'Coffee Board Layout', 'Ambedkar Nagar',
       'Geleyara Balaga Layout', 'Kalena Agrahara', 'Talaghattapura',
       'Balagere', 'Jigani', 'Gollarapalya Hosahalli', 'Old Madras Road',
       'Silver Springs Layout', '9th Phase JP Nagar', 'Jakkur',
       'Maruthi Sevanagar', 'RMV 2nd Stage', 'Singasandra', 'AECS Layout',
       'Mallasandra', 'Begur', 'JP Nagar', 'Sunder Ram Shetty Nagar',
       'Motappa Layout', 'Kaval Byrasandra', 'Kaggalipura',
       'Basavanna Nagar', '6th Phase JP Nagar', 'Ulsoor', 'Uttarahalli',
       'Thigalarapalya', ' Devarachikkanahalli', 'Bommasandra',
       'Prashanth Nagar', 'Suragajakkanahalli', 'Ardendale', 'Harlur',
       'Sampigehalli', 'Kodihalli', 'Magadi Road', 'Narayanapura',
       'Hennur', '5th Phase JP Nagar', 'Kodigehaali', 'Bannerghatta Road',
       'Gopalapura', 'Billekahalli', 'Jalahalli', 'Sompura',
       'Ashirvad Colony', 'Dodda Nekkundi', 'Hosur Road', 'Amco Colony',
       'Ambalipura', 'Hoodi', 'Samethanahalli', 'Brookefield',
       'Suddaguntepalya', 'Udayapur Village', 'Bellandur', 'Vittasandra',
       'Giri Nagar', 'Chikkabidarakallu', '1 Giri Nagar', 'Hoysalanagar',
       'Defence Colony', 'Amruthahalli', 'Patelappa Layout',
       'Subramanyapura', '3rd Block Hrbr Layout', 'Surabhi Layout',
       'Omkar Nagar', 'Kambipura', 'VHBCS Layout', 'Rajiv Nagar',
       'Gattahalli', 'Arekere', 'Mico Layout', 'Munnekollal',
       'Banashankari Stage III', 'Dooravani Nagar', 'JCR Layout',
       'Nehru Nagar', 'Sneha Colony', 'Konanakunte', 'Ashwini layout',
       'Gottigere', 'HRBR Layout', 'Kanakapura', 'Tumkur Road',
       'Hosahalli', 'Jalahalli West', 'GM Palaya', 'Jalahalli East',
       'Hosakerehalli', 'Nagondanahalli', 'Shanthala Nagar',
       'Bettahalsoor', 'Ambedkar Colony', 'Avalahalli', 'Prakruthi Nagar',
       'Abbigere', 'Tindlu', 'Green Garden Layout', 'Gubbalala',
       'Dairy Circle', 'Narayana Nagar 1st Block', 'KSRTC Layout',
       'New Gurappana Palya', 'Palanahalli', 'Vadarpalya', 'Kudlu',
       'Old Airport Road', 'Vishwapriya Layout', 'Banashankari Stage VI',
       'Battarahalli', 'HMT Layout', 'Kaggadasapura', 'ITI Layout',
       'Yelahanka New Town', 'Sahakara Nagar', 'Rachenahalli',
       'Kodbisanhalli', 'Kodichikkanahalli', 'Bendiganahalli',
       'Ferrar Nagar', 'Green Glen Layout', 'M.G Road',
       'Horamavu Banaswadi', '1st Phase JP Nagar', 'Kaverappa Layout',
       'Devarabisanahalli', 'Somasundara Palya', 'Vidyaranyapura',
       'Babusapalaya', 'Nagappa Reddy Layout', 'TC Palaya',
       'Suraksha Nagar', 'Iblur Village', 'Yelachenahalli',
       'Basava Nagar', '2nd Block Hrbr Layout', 'Basapura',
       'Channasandra', 'Singena Agrahara', 'Mango Garden Layout',
       'Choodasandra', 'Indira Nagar', 'Sai Gardens', 'Mahadevpura',
       'Hanumanth Nagar', 'Basaveshwara Nagar', 'Kaikondrahalli',
       'Hunasamaranahalli', 'RWF West Colony', 'Bileshivale',
       'Neeladri Nagar', 'Frazer Town', 'Jaya Nagar East', 'Iggalur',
       'Banashankari', 'Chamrajpet', 'VGP Layout', 'Vasanth nagar',
       'Kalkere', 'Siddapura', 'Maragondanahalli', 'Ramamurthy Nagar',
       'Garudachar Palya', 'Roopena Agrahara', 'Gollahalli',
       'Sonnenahalli', 'D Souza Layout', 'Nagarbhavi', 'Bommanahalli',
       'Chikkalasandra', 'Dommasandra', 'Byadarahalli', 'Judicial Layout',
       'Outer Ring Road East', 'Vinayaka Nagar', 'GB Palya',
       'Ashwathnagar', 'Kasturi Nagar', 'Belathur', 'Srirampura',
       'Devanahalli Road', 'Ejipura', 'Green Woods Layout',
       'Craig Park Layout', 'Immadihalli', 'Muneshwara Nagar',
       'Rayasandra', 'Malleshpalya', 'Parappana Agrahara',
       'Lakshmi Layout', 'Thirumenahalli', 'KPC Layout',
       'Daadys Gaarden Layout', 'Kothannur', 'Marsur', 'Karuna Nagar',
       'Kallumantapa', 'Malimakanapura', 'Medahalli',
       'Rustam Bagh Layout', 'Garden Layout', 'T K Reddy Layout',
       'Doddanekundi', 'Venkatadri Layout', 'Bommenahalli',
       'Mahaganapathy Nagar', 'HBR Layout', 'Vittal Nagar',
       'Bhuvaneshwari Nagar', 'Prithvi Layout', 'Domlur', 'Thubarahalli',
       'Jaya Mahal layout', 'BSM Extension', 'Vijinapura', 'Byrasandra',
       'Chowdeshwari Layout', 'Sector 2 HSR Layout', 'Padmanabhanagar',
       'Badavala Nagar', '4th Block Koramangala', 'Belatur',
       'Nallurhalli', 'Kereguddadahalli', 'Laxmi Sagar Layout',
       'Bannerghatta', 'Harappanahalli', 'BTM Layout', 'Kanaka Nagar',
       'NR Colony', 'Byagadadhenahalli', 'Doddabommasandra',
       'Sarjapura - Attibele Road', 'Maruthi Layout',
       'Sree Narayana Nagar', 'Tunganagara', 'Nagavara',
       'Remco Bhel Layout', 'Chokkasandra', 'Panduranga Nagar',
       'Jakkur Plantation', '1st Block Koramangala',
       'Shree Ananth Nagar Layout', 'Hoskote', 'Sector 1 HSR Layout',
       'BTM 2nd Stage', 'Ananth Nagar', 'Sundar Ram Shetty Nagar',
       'Alfa Garden Layout', 'Hoodi Layout', 'Seegehalli',
       'Gaundanapalya', '2nd Phase JP Nagar', 'Doctors Layout',
       'Basavangudi', 'Vishwapriya Nagar', 'Sarakki Nagar', 'R.T. Nagar',
       'Sector 7 HSR Layout', 'Hennur Gardens',
       'Howthinarayanappa Garden', 'Bharathi Nagar', 'Cambridge Layout',
       'Doddakannelli', 'Cox Town', 'Pulkeshi Nagar', 'Jayanagar',
       ' Bhoganhalli', 'Pai Layout', '8th block Koramangala', 'Bidadi',
       'Amruthnagar', 'Sathya Sai Layout', 'Rajiv Gandhi Nagar', 'Anekal',
       'Bhagyalakshmi Avenue', 'Doddaballapur', 'Horamavu Agara',
       'Chinnapanahalli', 'Balaji Gardens Layout', ' Rachenahalli',
       'Akshaya Vana', 'Channasandra Layout', 'Gopalkrishna Nagar',
       'Volagerekallahalli', 'Keerthi Layout', 'Shikaripalya', 'Hagadur',
       'Soundarya Layout', 'Cunningham Road', 'Dollars Layout',
       'Nagavarapalya', 'Sultan Palaya', 'Gopal Reddy Layout',
       'Thurahalli', 'Murugeshpalya', 'Kadubeesanahalli',
       'Cleveland Town', 'Kada Agrahara', 'Bellari Road',
       'Abbaiah Reddy Layout', 'Tata Nagar', ' Devarabeesana Halli',
       'Brindavan Nagar', 'Seetharampalya', 'B Narayanapura',
       'Raghuvanahalli', 'Wilson Garden', 'Challaghatta', 'KR Garden',
       'Kathriguppe', 'Sahyadri Layout', 'Bagalur', 'P Krishnappa Layout',
       'Crimson Layout', 'Kyalasanahalli', 'Ckikkakammana Halli',
       'Munivenkatppa Layout', 'Vijaya Bank Layout', 'Kumarapalli',
       'Lingarajapuram', 'Vasantha Vallabha Nagar', 'Kalhalli',
       'Kumaraswami Layout', 'Hadosiddapura', 'Kachanayakanahalli',
       'Yelenahalli', '6th block Koramangala', 'Vignana Nagar',
       'Canara Bank Colony', 'Hanumagiri', 'Benson Town',
       'Akshayanagara West', 'OLd Gurappanapalya', 'Ramanjaneyanagar',
       'B Channasandra', 'New Thippasandra', 'Gattigere', 'Kamakshipalya',
       'Dollars Colony', 'Pragathi Nagar', 'HAL 2nd Stage',
       'Poorna Pragna Layout', 'Kenchenahalli', 'Kundalahalli Colony',
       'Amblipura', 'Vimanapura', 'Dodsworth Layout', 'Devasthanagalu',
       'Venugopal Reddy Layout', 'Lake City', 'S R Layout',
       'Sadduguntepalya', 'Mallathahalli', 'Doddakammanahalli',
       'Chikkathoguru', 'Richards Town', 'BCC Layout', 'Vinayak Nagar',
       'Jaladarsini Layout', 'Brooke Bond First Cross',
       'Glass Factory Layout', 'Raghavendra Nagar', 'Bhuvaneswari Nagar',
       ' Electronic City', 'Mathikere', 'Kempegowda Nagar',
       'Nyanappana Halli', 'Nelamangala', ' Whitefield',
       'Vaishnavi Layout', 'Naganathapura', 'Venkatapura',
       '3rd Phase JP Nagar', 'Devarachikkanahalli', 'Anjanapura',
       'Reliaable Tranquil Layout', 'Mailasandra', 'Chelekare',
       'Doopanahalli', 'Kattigenahalli', 'Varthur Road', 'Bethel Nagar',
       'Dollar Scheme Colony', 'Omarbagh Layout',
       'Aishwarya Crystal Layout', '2nd Block Jayanagar',
       'Nayandanahalli', 'DUO Layout', 'ISRO Layout', 'Hennur Bande',
       'Shampura', 'Langford Gardens', 'Richmond Town',
       'Vishwanatha Nagenahalli', 'Friends Colony', 'Shettigere',
       'Rahat Bagh', 'NTI Layout', 'Gunjur Palya', 'Maithri Layout',
       'Nobo Nagar', 'Krishna Reddy Layout', 'Kuvempu Layout',
       'Kaveri Nagar', 'Devi Nagar', 'Chikkabanavar',
       'Bommasandra Industrial Area', 'Stage-4 Bommanahalli',
       'Banashankari Stage V', 'Manorayana Palya', 'Sathya Layout',
       'Shanti Nagar', 'Jayamahal', 'Veer Sandra', 'Chennappa Layout',
       'Jeevan bima nagar', 'Lavakusha Nagar', 'Vittal Mallya Road',
       'Dena Bank Colony', 'Doddabidrakallu', 'NGR Layout',
       'Jnana Ganga Nagar', 'Ittamadu', 'Chokkanahalli', 'Vikram Nagar',
       'Sarvabhouma Nagar', 'Coconut Grove Layout', 'Kadabagere',
       'Anand Nagar', 'Kammanahalli', 'Janatha Colony',
       '1st Block Jayanagar', 'Veersandra', 'Kumbena Agrahara',
       'Hiremath Layout', 'Nagadevanahalli', 'Yemlur',
       'Ramamurthy Nagar Extension', 'Himagiri Meadows',
       'Narayanappa Garden', 'Kempapura', 'Carmelaram', 'Ankappa Layout',
       'Jakkuru Layout', 'Maruthi Nagar', 'Punappa Layout',
       'Pampa Extension', 'Banaswadi', 'Sanne Amanikere',
       '2nd Stage Arekere Mico Layout', 'BCMC Layout', 'Uday Nagar',
       'Chaitanya Ananya', 'Kacharakanahalli', 'Tigalarpalya',
       ' Banaswadi', 'Sugama Layout', 'Hongasandra', 'Anugrah Layout',
       'Bandepalya', 'AMS Layout', 'RPC layout', 'Gulimangala',
       'Addischetan Layout', 'Sadaramangala', 'Konena Agrahara',
       'Raghavendra Layout', 'Varsova Layout',
       'Raja Rajeshwari Nagar 5th Stage', '7th Block Jayanagar',
       'Bande Nallasandra', 'Upkar Layout', 'Singapura Village',
       'Canara Bank Layout', 'Queens Road', 'Hosapalya', 'Jagadish Nagar',
       'Rajasree Layout', 'Chikkadunnasandra', 'Thirumalashettyhally',
       'Vibuthipura', 'Kodigehalli', 'P&T Layout', 'Varanasi',
       'Virudhu Nagar', 'Ramanashree Enclave', 'Chikku Lakshmaiah Layout',
       'Shivaji Nagar', 'Chikkagubbi', 'Kammagondahalli',
       'Yeshwanthpur Industrial Suburb', 'Thirupalya', 'Tirumanahalli',
       'ITPL', 'NRI Layout', 'Adugodi', 'Sidedahalli', 'Shanthi Pura',
       'Anwar Layout', 'Doddanakundi Industrial Area 2', 'RBI Layout',
       'Shauhardha Layout', 'Bhoopsandra', '3rd Block Koramangala',
       'Kuvempu Nagar', 'Sri Balaji Krupa Layout', "St. John's Road",
       'Govindapura', 'Ayappa Nagar', 'Hessarghatta', 'Anantapuram',
       'Chikka Banaswadi', 'Akshayanagara East', 'Guddadahalli',
       'Kashi Nagar', 'Nanjappa Garden', 'Allalasandra',
       'Maheswari Nagar', 'Udayagiri', 'Mahalakshmi Layout',
       'Rahmath Nagar', 'Halanayakanahalli', 'Air View Colony',
       'Amam Enclave Layout', 'Anantapura', 'Mallappa Layout',
       'Devarabeesana Halli', 'Chikbasavanapura', 'Billamaranahalli',
       'Jogupalya', 'Gulakamale', 'Mahalakshmi Puram', 'Jakkasandra',
       'Cooke Town', 'Virupakshapura', 'Kenchenhalli', 'Church Street',
       'Sarvobhogam Nagar', 'Near International Airport', 'Palace Road',
       'Abshot Layout'], dtype=object)

In [39]:
df3.location=df3.location.apply(lambda x:x.strip())
location_stats=df3.groupby('location')['location'].agg('count').sort_values()
location_stats

location
1 Giri Nagar               1
1st Block Jayanagar        1
8th block Koramangala      1
AMS Layout                 1
Vittal Mallya Road         1
                        ...
Thanisandra              215
Kanakpura Road           216
Electronic City          238
Sarjapur  Road           310
Whitefield               398
Name: location, Length: 626, dtype: int64

In [40]:
location_stats[location_stats<=10]

location
1 Giri Nagar               1
1st Block Jayanagar        1
8th block Koramangala      1
AMS Layout                 1
Vittal Mallya Road         1
                          ..
Dairy Circle              10
Amruthahalli              10
Arekere                   10
Banashankari Stage III    10
BTM Layout                10
Name: location, Length: 483, dtype: int64

In [41]:
location_stats_less_than_10=location_stats[location_stats<=10]

In [42]:
df3['location']=df['location'].apply(lambda x:'other' if x in location_stats_less_than_10 else x)

In [43]:
df3

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,bhk
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056.0,2.0,1.0,39.07,2
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600.0,5.0,3.0,120.00,4
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521.0,3.0,1.0,95.00,3
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170.0,2.0,1.0,38.00,2
11,Plot Area,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785.0,5.0,3.0,295.00,4
...,...,...,...,...,...,...,...,...,...,...
13313,Super built-up Area,Ready To Move,Uttarahalli,3 BHK,Aklia R,1345.0,2.0,1.0,57.00,3
13314,Super built-up Area,Ready To Move,Green Glen Layout,3 BHK,SoosePr,1715.0,3.0,3.0,112.00,3
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453.0,4.0,0.0,231.00,5
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141.0,2.0,1.0,60.00,2
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689.0,4.0,1.0,488.00,4

In [44]:
df3.loc[:,'location']

0        Electronic City Phase II
1                Chikka Tirupathi
3              Lingadheeranahalli
5                      Whitefield
11                     Whitefield
                   ...
13313                 Uttarahalli
13314           Green Glen Layout
13315                  Whitefield
13317       Raja Rajeshwari Nagar
13318             Padmanabhanagar
Name: location, Length: 7496, dtype: object

In [45]:
len(df3.location.unique())

152

In [46]:
len(df2.location.unique())

634

In [47]:
df3[df3['location']=='other']

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,bhk
18,Super built-up Area,Ready To Move,other,3 BHK,PeBayle,2770.0,4.0,2.0,290.00,3
42,Super built-up Area,Ready To Move,other,1 BHK,Ceove G,600.0,1.0,0.0,38.00,1
50,Super built-up Area,Ready To Move,other,2 BHK,Bhncyis,1270.0,2.0,1.0,50.00,2
57,Super built-up Area,Ready To Move,other,2 BHK,PeBayle,1500.0,2.0,2.0,185.00,2
61,Super built-up Area,Ready To Move,other,2 BHK,Laavevi,845.0,2.0,1.0,55.00,2
...,...,...,...,...,...,...,...,...,...,...
13276,Super built-up Area,Ready To Move,other,2 BHK,ThhtsV,1000.0,2.0,1.0,49.50,2
13278,Built-up Area,Ready To Move,other,2 BHK,Sariana,1256.0,2.0,1.0,65.00,2
13285,Super built-up Area,Ready To Move,other,2 BHK,OlarkLa,1353.0,2.0,2.0,110.00,2
13292,Super built-up Area,18-Jul,other,3 BHK,Plowsri,1440.0,2.0,2.0,63.93,3
13294,Super built-up Area,Ready To Move,other,4 BHK,RSntsAp,2200.0,3.0,3.0,80.00,4

In [48]:
df3['price_per_sqft']=df3['price']*100000/df3['total_sqft']

In [49]:
df3

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,bhk,price_per_sqft
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056.0,2.0,1.0,39.07,2,3699.810606
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600.0,5.0,3.0,120.00,4,4615.384615
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521.0,3.0,1.0,95.00,3,6245.890861
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170.0,2.0,1.0,38.00,2,3247.863248
11,Plot Area,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785.0,5.0,3.0,295.00,4,10592.459605
...,...,...,...,...,...,...,...,...,...,...,...
13313,Super built-up Area,Ready To Move,Uttarahalli,3 BHK,Aklia R,1345.0,2.0,1.0,57.00,3,4237.918216
13314,Super built-up Area,Ready To Move,Green Glen Layout,3 BHK,SoosePr,1715.0,3.0,3.0,112.00,3,6530.612245
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453.0,4.0,0.0,231.00,5,6689.834926
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141.0,2.0,1.0,60.00,2,5258.545136
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689.0,4.0,1.0,488.00,4,10407.336319

In [50]:
df3

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,bhk,price_per_sqft
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056.0,2.0,1.0,39.07,2,3699.810606
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600.0,5.0,3.0,120.00,4,4615.384615
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521.0,3.0,1.0,95.00,3,6245.890861
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170.0,2.0,1.0,38.00,2,3247.863248
11,Plot Area,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785.0,5.0,3.0,295.00,4,10592.459605
...,...,...,...,...,...,...,...,...,...,...,...
13313,Super built-up Area,Ready To Move,Uttarahalli,3 BHK,Aklia R,1345.0,2.0,1.0,57.00,3,4237.918216
13314,Super built-up Area,Ready To Move,Green Glen Layout,3 BHK,SoosePr,1715.0,3.0,3.0,112.00,3,6530.612245
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453.0,4.0,0.0,231.00,5,6689.834926
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141.0,2.0,1.0,60.00,2,5258.545136
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689.0,4.0,1.0,488.00,4,10407.336319

In [51]:
df3[df3.total_sqft/df3.bhk<300].head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,bhk,price_per_sqft
349,Plot Area,18-Dec,other,3 Bedroom,PrhyaK,11.0,3.0,2.0,74.0,3,672727.272727
480,Built-up Area,Ready To Move,other,4 BHK,LiaveEn,1150.0,4.0,2.0,260.0,4,22608.695652
483,Plot Area,Ready To Move,other,5 Bedroom,Bemesrm,1200.0,5.0,2.0,190.0,5,15833.333333
1239,Built-up Area,Ready To Move,Electronic City,2 BHK,Itelaa,550.0,1.0,1.0,16.0,2,2909.090909
2040,Super built-up Area,Ready To Move,Electronic City,2 BHK,Itelaa,550.0,1.0,1.0,15.0,2,2727.272727

In [52]:
df4=df3[~(df3.total_sqft/df3.bhk<300)]

In [53]:
df4

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,bhk,price_per_sqft
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056.0,2.0,1.0,39.07,2,3699.810606
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600.0,5.0,3.0,120.00,4,4615.384615
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521.0,3.0,1.0,95.00,3,6245.890861
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170.0,2.0,1.0,38.00,2,3247.863248
11,Plot Area,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785.0,5.0,3.0,295.00,4,10592.459605
...,...,...,...,...,...,...,...,...,...,...,...
13313,Super built-up Area,Ready To Move,Uttarahalli,3 BHK,Aklia R,1345.0,2.0,1.0,57.00,3,4237.918216
13314,Super built-up Area,Ready To Move,Green Glen Layout,3 BHK,SoosePr,1715.0,3.0,3.0,112.00,3,6530.612245
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453.0,4.0,0.0,231.00,5,6689.834926
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141.0,2.0,1.0,60.00,2,5258.545136
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689.0,4.0,1.0,488.00,4,10407.336319

In [54]:
df3.shape

(7496, 11)

In [55]:
df4.shape

(7454, 11)

In [56]:
df5=df4.drop(columns=['availability','area_type','society','balcony'],errors='ignore')

In [57]:
df5

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
5,Whitefield,2 BHK,1170.0,2.0,38.00,2,3247.863248
11,Whitefield,4 Bedroom,2785.0,5.0,295.00,4,10592.459605
...,...,...,...,...,...,...,...
13313,Uttarahalli,3 BHK,1345.0,2.0,57.00,3,4237.918216
13314,Green Glen Layout,3 BHK,1715.0,3.0,112.00,3,6530.612245
13315,Whitefield,5 Bedroom,3453.0,4.0,231.00,5,6689.834926
13317,Raja Rajeshwari Nagar,2 BHK,1141.0,2.0,60.00,2,5258.545136
13318,Padmanabhanagar,4 BHK,4689.0,4.0,488.00,4,10407.336319

In [58]:
df5.shape

(7454, 7)

In [59]:
df5.price_per_sqft.describe()

count     7439.000000
mean      5851.020195
std       2705.465697
min        371.428571
25%       4283.397683
50%       5319.284802
75%       6693.881632
max      76530.612245
Name: price_per_sqft, dtype: float64

In [60]:
mean = df5['price_per_sqft'].mean()
std = df5['price_per_sqft'].std()

In [61]:
def remove_pps_outliers(df):
    df_out=pd.DataFrame()
    for key,subdf in df.groupby('location'):
        m=np.mean(subdf.price_per_sqft)
        st=np.std(subdf.price_per_sqft)
        reduced_df=subdf[(subdf.price_per_sqft>(m-st)) & (subdf.price_per_sqft<=(m+st))]
        df_out=pd.concat([df_out,reduced_df],ignore_index=True)
    return df_out
df6=remove_pps_outliers(df5)

In [62]:
df5.shape

(7454, 7)

In [63]:
df6.shape

(5854, 7)

In [64]:
df6.head()

               location   size  total_sqft  bath  price  bhk  price_per_sqft
0   Devarabeesana Halli  3 BHK      1672.0   3.0  150.0    3     8971.291866
1   Devarabeesana Halli  3 BHK      1750.0   3.0  149.0    3     8514.285714
2   Devarabeesana Halli  3 BHK      1750.0   3.0  150.0    3     8571.428571
3   Devarachikkanahalli  3 BHK      1425.0   2.0   65.0    3     4561.403509
4   Devarachikkanahalli  3 BHK      1705.0   3.0   75.0    3     4398.826979

In [65]:
df6.head(501)

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Devarabeesana Halli,3 BHK,1672.0,3.0,150.00,3,8971.291866
1,Devarabeesana Halli,3 BHK,1750.0,3.0,149.00,3,8514.285714
2,Devarabeesana Halli,3 BHK,1750.0,3.0,150.00,3,8571.428571
3,Devarachikkanahalli,3 BHK,1425.0,2.0,65.00,3,4561.403509
4,Devarachikkanahalli,3 BHK,1705.0,3.0,75.00,3,4398.826979
...,...,...,...,...,...,...,...
496,Begur Road,2 BHK,1160.0,2.0,36.54,2,3150.000000
497,Begur Road,3 BHK,1615.0,3.0,50.87,3,3149.845201
498,Begur Road,2 BHK,1200.0,2.0,44.40,2,3700.000000
499,Begur Road,3 BHK,1565.0,2.0,49.30,3,3150.159744
500,Begur Road,4 BHK,2464.5,6.0,118.00,4,4787.989450

In [66]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5854 entries, 0 to 5853
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   location        5854 non-null   object
 1   size            5854 non-null   object
 2   total_sqft      5854 non-null   float64
 3   bath            5854 non-null   float64
 4   price           5854 non-null   float64
 5   bhk             5854 non-null   int64
 6   price_per_sqft  5854 non-null   float64
dtypes: float64(4), int64(1), object(2)
memory usage: 320.3+ KB

In [67]:
df6.describe()

         total_sqft         bath        price          bhk  price_per_sqft
count   5854.000000  5854.000000  5854.000000  5854.000000     5854.000000
mean    1439.954784     2.399556    82.340233     2.485309     5446.447763
std      629.915887     0.814657    56.674516     0.698322     1637.622022
min      350.000000     1.000000    10.000000     1.000000     2090.909091
25%     1113.030000     2.000000    50.000000     2.000000     4325.746727
50%     1300.000000     2.000000    68.000000     2.000000     5238.319962
75%     1614.000000     3.000000    95.000000     3.000000     6344.350980
max    14000.000000     9.000000  1000.000000    11.000000    15748.339195

In [68]:
def clean(df):
    exclude_indices=np.array([])
    for location,location_df in df.groupby('location'):
        bhk_stats={}
        for bhk,bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk]={
                'mean':np.mean(bhk_df.price_per_sqft),
                'std':np.std(bhk_df.price_per_sqft),
                'count':bhk_df.shape[0]
            }
        for bhk,bhk_df in location_df.groupby('bhk'):
            stats=bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices=np.append(exclude_indices,bhk_df[bhk_df.price_per_sqft < stats['mean']].index.values)
    return df.drop(exclude_indices, axis='index')

df7=clean(df6)

In [69]:
df7.head()

               location   size  total_sqft  bath  price  bhk  price_per_sqft
0   Devarabeesana Halli  3 BHK      1672.0   3.0  150.0    3     8971.291866
1   Devarabeesana Halli  3 BHK      1750.0   3.0  149.0    3     8514.285714
2   Devarabeesana Halli  3 BHK      1750.0   3.0  150.0    3     8571.428571
3   Devarachikkanahalli  3 BHK      1425.0   2.0   65.0    3     4561.403509
4   Devarachikkanahalli  3 BHK      1705.0   3.0   75.0    3     4398.826979

In [70]:
df7.shape

(4057, 7)

In [71]:
df6.shape

(5854, 7)

In [72]:
df6[df6.bath>df6.bhk+2]

         location   size  total_sqft  bath   price  bhk  price_per_sqft
3797  Thanisandra  3 BHK      1806.0   6.0   116.0    3     6423.034330
4870        other  6 BHK     11338.0   9.0  1000.0    6     8819.897689

In [73]:
df7=df6[df6.bath<df6.bhk+2]

In [74]:
df7

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Devarabeesana Halli,3 BHK,1672.0,3.0,150.00,3,8971.291866
1,Devarabeesana Halli,3 BHK,1750.0,3.0,149.00,3,8514.285714
2,Devarabeesana Halli,3 BHK,1750.0,3.0,150.00,3,8571.428571
3,Devarachikkanahalli,3 BHK,1425.0,2.0,65.00,3,4561.403509
4,Devarachikkanahalli,3 BHK,1705.0,3.0,75.00,3,4398.826979
...,...,...,...,...,...,...,...
5849,other,2 BHK,1000.0,2.0,49.50,2,4950.000000
5850,other,2 BHK,1256.0,2.0,65.00,2,5175.159236
5851,other,2 BHK,1353.0,2.0,110.00,2,8130.081301
5852,other,3 BHK,1440.0,2.0,63.93,3,4439.583333
5853,other,4 BHK,2200.0,3.0,80.00,4,3636.363636

In [75]:
df7.shape

(5800, 7)

In [76]:
df6[df6.bath>df6.bhk+2].count()

location          2
size              2
total_sqft        2
bath              2
price             2
bhk               2
price_per_sqft    2
dtype: int64

In [77]:
df7=df6.drop(columns=['size','price_per_sqft'])

In [78]:
df7

                  location  total_sqft  bath   price  bhk
0      Devarabeesana Halli      1672.0   3.0  150.00    3
1      Devarabeesana Halli      1750.0   3.0  149.00    3
2      Devarabeesana Halli      1750.0   3.0  150.00    3
3      Devarachikkanahalli      1425.0   2.0   65.00    3
4      Devarachikkanahalli      1705.0   3.0   75.00    3
...                    ...         ...   ...     ...  ...
5849                 other      1000.0   2.0   49.50    2
5850                 other      1256.0   2.0   65.00    2
5851                 other      1353.0   2.0  110.00    2
5852                 other      1440.0   2.0   63.93    3
5853                 other      2200.0   3.0   80.00    4

[5854 rows x 5 columns]

In [88]:
dummies = pd.get_dummies(df7['location']).astype(int)
dummies

,Devarabeesana Halli,Devarachikkanahalli,Electronic City,Rachenahalli,Thanisandra,1st Phase JP Nagar,5th Phase JP Nagar,7th Phase JP Nagar,8th Phase JP Nagar,9th Phase JP Nagar,...,Tumkur Road,Uttarahalli,Varthur,Vijayanagar,Vittasandra,Whitefield,Yelahanka,Yelahanka New Town,Yeshwanthpur,other
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5849,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5850,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5851,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5852,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5853,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [90]:
df8=pd.concat([df7,dummies],axis='columns')

In [91]:
df8

,location,total_sqft,bath,price,bhk,Devarabeesana Halli,Devarachikkanahalli,Electronic City,Rachenahalli,Thanisandra,...,Tumkur Road,Uttarahalli,Varthur,Vijayanagar,Vittasandra,Whitefield,Yelahanka,Yelahanka New Town,Yeshwanthpur,other
0,Devarabeesana Halli,1672.0,3.0,150.00,3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Devarabeesana Halli,1750.0,3.0,149.00,3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Devarabeesana Halli,1750.0,3.0,150.00,3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Devarachikkanahalli,1425.0,2.0,65.00,3,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Devarachikkanahalli,1705.0,3.0,75.00,3,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5849,other,1000.0,2.0,49.50,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5850,other,1256.0,2.0,65.00,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5851,other,1353.0,2.0,110.00,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5852,other,1440.0,2.0,63.93,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5853,other,2200.0,3.0,80.00,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [92]:
df7

                  location  total_sqft  bath   price  bhk
0      Devarabeesana Halli      1672.0   3.0  150.00    3
1      Devarabeesana Halli      1750.0   3.0  149.00    3
2      Devarabeesana Halli      1750.0   3.0  150.00    3
3      Devarachikkanahalli      1425.0   2.0   65.00    3
4      Devarachikkanahalli      1705.0   3.0   75.00    3
...                    ...         ...   ...     ...  ...
5849                 other      1000.0   2.0   49.50    2
5850                 other      1256.0   2.0   65.00    2
5851                 other      1353.0   2.0  110.00    2
5852                 other      1440.0   2.0   63.93    3
5853                 other      2200.0   3.0   80.00    4

[5854 rows x 5 columns]

In [93]:
df7.tail(50)

     location  total_sqft  bath   price  bhk
5804    other      1600.0   3.0  102.00    3
5805    other      1200.0   2.0   42.00    2
5806    other      1510.0   2.0   65.00    3
5807    other      1200.0   2.0   45.00    2
5808    other      1850.0   3.0  110.00    3
5809    other      2150.0   3.0   85.00    4
5810    other      1500.0   2.0   70.00    3
5811    other      1719.0   3.0   95.00    3
5812    other      1200.0   3.0   80.00    2
5813    other      1100.0   2.0   50.00    2
5814    other       890.0   2.0   37.00    2
5815    other      1190.0   2.0   55.00    2
5816    other      1162.0   2.0   48.00    2
5817    other       540.0   1.0   22.50    1
5818    other      1500.0   2.0   58.00    3
5819    other      1100.0   2.0   85.00    2
5820    other      1360.0   2.0   73.00    3
5821    other      1945.0   3.0  135.00    3
5822    other      1100.0   2.0   55.00    2
5823    other      1081.0   2.0   60.00    2
5824    other      1786.0   3.0   79.99    3
5825    other      1020.0   2.0   42.48    2
5826    other      1369.0   2.0   72.00    3
5827    other      1418.0   2.0   62.00    2
5828    other      1035.0   2.0   60.00    2
5829    other      1307.0   2.0   59.00    2
5830    other      1200.0   2.0   45.00    2
5831    other      1830.0   3.0   95.00    3
5832    other      1486.0   2.0   65.00    3
5833    other      1425.0   1.0   54.00    3
5834    other      1350.0   3.0   80.99    3
5835    other      1100.0   2.0   64.08    2
5836    other      1975.0   3.0   90.00    3
5837    other      1010.0   2.0   41.00    2
5838    other      1012.0   2.0   62.00    2
5839    other      1200.0   2.0   75.00    2
5840    other      1490.0   3.0  140.00    3
5841    other      1330.0   2.0   56.00    2
5842    other      1650.0   1.0  130.00    2
5843    other      1500.0   2.0   78.00    3
5844    other       745.0   2.0   36.00    2
5845    other      1155.0   2.0   64.00    2
5846    other      1508.0   3.0   77.00    3
5847    other      1225.0   2.0   52.00    2
5848    other      1095.0   2.0   57.00    2
5849    other      1000.0   2.0   49.50    2
5850    other      1256.0   2.0   65.00    2
5851    other      1353.0   2.0  110.00    2
5852    other      1440.0   2.0   63.93    3
5853    other      2200.0   3.0   80.00    4

In [94]:
df9=df8.drop(columns=['other'])

In [95]:
df9

,location,total_sqft,bath,price,bhk,Devarabeesana Halli,Devarachikkanahalli,Electronic City,Rachenahalli,Thanisandra,...,Thubarahalli,Tumkur Road,Uttarahalli,Varthur,Vijayanagar,Vittasandra,Whitefield,Yelahanka,Yelahanka New Town,Yeshwanthpur
0,Devarabeesana Halli,1672.0,3.0,150.00,3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Devarabeesana Halli,1750.0,3.0,149.00,3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Devarabeesana Halli,1750.0,3.0,150.00,3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Devarachikkanahalli,1425.0,2.0,65.00,3,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Devarachikkanahalli,1705.0,3.0,75.00,3,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5849,other,1000.0,2.0,49.50,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5850,other,1256.0,2.0,65.00,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5851,other,1353.0,2.0,110.00,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5852,other,1440.0,2.0,63.93,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5853,other,2200.0,3.0,80.00,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [107]:
df9.shape
df10=df9.drop(['location'],axis='columns')

In [108]:
X=df10.drop('price' ,axis='columns')
X.head()

,total_sqft,bath,bhk,Devarabeesana Halli,Devarachikkanahalli,Electronic City,Rachenahalli,Thanisandra,1st Phase JP Nagar,5th Phase JP Nagar,...,Thubarahalli,Tumkur Road,Uttarahalli,Varthur,Vijayanagar,Vittasandra,Whitefield,Yelahanka,Yelahanka New Town,Yeshwanthpur
0,1672.0,3.0,3,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1750.0,3.0,3,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1750.0,3.0,3,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1425.0,2.0,3,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1705.0,3.0,3,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [109]:
y=df10.price

In [110]:
y.head()

0    150.0
1    149.0
2    150.0
3     65.0
4     75.0
Name: price, dtype: float64

In [111]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [112]:
from sklearn.linear_model import LinearRegression
lr_clf=LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

0.893981289348112

In [124]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import ShuffleSplit

def find_best_model(X,y):
    models = {
        'LinearRegression': {
            'model': LinearRegression(),
            'params': {
                'fit_intercept': [True, False]
            }
        },
        'Lasso': {
            'model': Lasso(),
            'params': {
                'alpha': [0.001, 0.01, 0.1, 1, 10],
                'max_iter': [1000, 5000, 10000]
            }
        },
        'DecisionTree': {
            'model': DecisionTreeRegressor(),
            'params': {
                'max_depth': [None, 5, 10, 20],
                'min_samples_split': [2, 5, 10],
                'min_samples_leaf': [1, 2, 4]
            }
        }
    }
    results = []
    cv = ShuffleSplit(n_splits=5, test_size=0.2,random_state=42 )
    for model_name, mp in models.items():
        gs = GridSearchCV(mp['model'], mp['params'], cv=cv,return_train_score=False)
        gs.fit(X, y)
        results.append({
            'model': model_name,
            'best_score': gs.best_score_,
            'best_params': gs.best_params_
        })
    return pd.DataFrame(results,columns=['model','best_score','best_params'])

find_best_model(X,y)

,model,best_score,best_params
0,LinearRegression,0.895912,{'fit_intercept': True}
1,Lasso,0.895939,"{'alpha': 0.001, 'max_iter': 1000}"
2,DecisionTree,0.860577,"{'max_depth': 20, 'min_samples_leaf': 1, 'min_..."